@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#131212, #1a1a1b, #131212);
}

.marquee {
    padding: 2rem 0 0 0;
    overflow-x: hidden;
}

.title {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 5rem;
    color: #FFFFFF;
    animation: title 5s linear infinite;
}

.title2 {
    text-align: center;
    font-size: 3rem;
    color: #FFFFFF;
}

.section:nth-child(1)>.title2 {
    animation: section1 1s ease infinite;
}

@keyframes section1 {
    from {
        text-shadow: 0 0 20px rgb(240, 31, 128);
    }

    to {
        text-shadow: 0 0 80px rgb(255, 46, 143);
    }
}

.section:nth-child(2)>.title2 {
    animation: section2 1s ease infinite;
}

@keyframes section2 {
    from {
        text-shadow: 0 0 20px rgb(240, 226, 31);
    }

    to {
        text-shadow: 0 0 80px rgb(17, 216, 34);
    }
}

.section:nth-child(3)>.title2 {
    animation: section3 1s ease infinite;
}

@keyframes section3 {
    from {
        text-shadow: 0 0 20px rgb(240, 226, 31);
    }

    to {
        text-shadow: 0 0 80px rgb(235, 220, 12);
    }
}

.title::before {
    position: absolute;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.3;
    filter: blur(300px);
    animation: title-before 8s ease infinite;
}

@media (min-width: 1200px) {
    .title {
        animation: title 8s ease infinite;
    }
}

@keyframes title {
    0% {
        transform: translateX(100vw);
        text-shadow: 0 0 20px rgb(31, 240, 222);
    }

    10% {
        text-shadow: 0 0 20px rgb(66, 240, 31);
    }

    20% {
        text-shadow: 0 0 20px rgb(240, 38, 31);
    }

    30% {
        text-shadow: 0 0 20px rgb(195, 240, 31);
    }

    45% {
        text-shadow: 0 0 20px rgb(31, 174, 240);
    }

    55% {
        text-shadow: 0 0 20px rgb(52, 31, 240);
    }

    70% {
        text-shadow: 0 0 20px rgb(195, 240, 31);
    }

    80% {
        text-shadow: 0 0 20px rgb(240, 38, 31);
    }

    90% {
        text-shadow: 0 0 20px rgb(66, 240, 31);
    }

    100% {
        transform: translateX(-100%);
        text-shadow: 0 0 20px rgb(245, 13, 195);
    }
}

@keyframes title-before {
    0% {
        background: rgb(31, 240, 222);
    }

    10% {
        background: rgb(66, 240, 31);
    }

    20% {
        background: rgb(240, 38, 31);
    }

    30% {
        background: rgb(195, 240, 31);
    }

    45% {
        background: rgb(31, 174, 240);
    }

    55% {
        background: rgb(52, 31, 240);
    }

    70% {
        background: rgb(195, 240, 31);
    }

    80% {
        background: rgb(240, 38, 31);
    }

    90% {
        background: rgb(66, 240, 31);
    }

    100% {
        background: rgb(245, 13, 195);
    }
}

.sections {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-family: 'Baloo Bhai', cursive;

}

@media (min-width: 900px) {
    .sections {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .sections {
        grid-template-columns: repeat(3, 1fr);
    }
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.images>img {
    display: none;
    height: 250px;
}

@media (min-width: 1601px) {
    .title {
        font-size: 5rem;
    }

    .title2 {
        font-size: 3rem;
    }

    .images>img {
        height: 300px;
    }
}

.images>img.active {
    display: block;
    animation-name: animate;
    animation-timing-function: ease-in;
}

@keyframes animate {
    from {
        transform: rotateY(20deg);
        display: block;
        opacity: 1;
    }

    to {
        transform: rotateY(-20deg);
        display: none;
        opacity: 0;
    }
}

.features {
    padding: 1.5rem;
}

.features>ul {
    list-style: none;
}

.features>ul>li {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    line-height: 50px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
}

button {
    border: 0;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}

.btn-edit {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background: rgb(36, 35, 35);
    color: rgb(165, 156, 156);
}

.btn-edit:hover,
.btn-edit:focus {
    background: rgb(255, 255, 255);
    color: rgb(17, 16, 16);
}

.dialog {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1rem;
    background: rgba(122, 122, 136, 0.952);
    height: 100vh;
    width: 100vw;
    display: none;
    font-family: 'Roboto', sans-serif;

}

.dialog.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    height: auto;
    width: calc(100% - 2rem);
    background: #FFFFFF;
    border-radius: 10px;
}

@media (min-width: 1400px) {
    .modal {
        width: 90%;
    }
}

@media (min-width: 1600px) {
    .modal {
        width: 70%;
    }
}

.modal-head {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(187, 185, 185);
}

.modal-head>h4 {
    font-size: 1.5rem;
    color: rgb(32, 31, 31);
}

.modal-head>button {
    background: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.modal-head>button:hover,
.modal-head>button:focus {
    background: rgb(235, 237, 241);
}


.editor {
    position: relative;
    padding: 2rem;
}

.editor-section-zone {
    height: 380px;
    overflow-y: auto;
}

@media (min-width: 1601px) {
    .editor-section-zone {
        height: 450px;
    }
}


.editor-sections-actions,
.editor-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.editor-sections-actions {
    justify-content: flex-start;
}

.editor-sections-actions>div {
    margin-right: 0.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.editor-sections-actions>div>button {
    padding: 1rem;
    background: none
}

.editor-sections-actions>div:not(.section-active) {
    background: rgba(192, 188, 188, 0.089);
}

.editor-sections-actions>div:not(.section-active)>button {
    background: none;
    color: rgb(58, 54, 54);
}

.editor-sections-actions>div:not(.section-active)>button:hover,
.editor-sections-actions>div:not(.section-active)>button:focus {
    color: rgb(72, 122, 230);
}

.section-active {
    background: rgb(235, 237, 241);
}

.editor-section-zone {
    background: rgb(235, 237, 241);
    padding: 1rem;
}

.section-active>button {
    color: rgb(72, 122, 230);
    font-weight: 700;
}

.btn-add {
    background: rgb(17, 167, 29);
    height: 30px;
    width: 30px;
    font-size: 1.5rem;
    border-radius: 50%;
    color: #FFFFFF;
    margin-left: 0.5rem;
    transition: background 0.3s;
}

.btn-add:hover,
.btn-add:focus {
    background: rgb(15, 145, 26);
}

.btn-delete {
    position: absolute;
    height: 36px;
    width: 36px;
    margin-left: -36px;
    background: rgb(211, 26, 26);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.5rem;
    color: #FFFFFF;
    transition: background 0.3s;
}

.btn-delete:hover,
.btn-delete:focus {
    background: rgb(182, 21, 21);
}

.btn-delete:disabled {
    background: rgb(192, 80, 80);
    cursor: not-allowed;
}

.editor-item {
    justify-content: flex-start;
}

.form-actions {
    margin-top: 2rem;
    border-top: 1px solid rgb(187, 185, 185);
}

.form-group {
    position: relative;
    padding: 0.75rem;
}

.editor-item>.form-group {
    width: 100%;
}

@media (min-width: 700px) {
    .editor-item>.form-group {
        width: 50%;
    }
}

@media (min-width: 1400px) {
    .editor-item>.form-group {
        width: 33.3333%;
    }
}

.form-group>label {
    display: block;
}

.form-group>input {
    display: inline-block;
}

.form-group>label {
    margin-bottom: 0.5rem;
}

.form-group>input {
    height: 36px;
    width: 100%;
    padding: 0.25rem 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.btn-save,
.btn-close-modal {
    color: #FFFFFF;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-top: 1rem;
    transition: background 0.3s;
}

.btn-save {
    background: #007BFF;
}

.btn-close-modal {
    color: #000000;
    background: #FFC107;
}

.btn-save:hover,
.btn-save:focus {
    background: rgb(0, 95, 196);
}

.btn-close-modal:hover,
.btn-close-modal:focus {
    background: rgb(236, 179, 5);
}

.tooltip {
    height: 3rem;
    text-align: center;
    width: 320px;
    font-size: 1rem;
    position: absolute;
    bottom: 2rem;
    left: calc(50% - 175px);
    background: #282829;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 1rem;
}

.tooltip.show {
    animation: show 3s ease-in-out;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}